<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">
    <ui:define name="page-title">Главная страница</ui:define>

    <ui:define name="page-body">
        <p:linkButton outcome="registration" value="Registration"/>
    </ui:define>
</ui:composition>
