<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="template.xhtml">
    <ui:define name="page-title">Registration</ui:define>

    <ui:define name="page-body">
        <h:form>
            <p:messages/>

            <p:panel header="Registration">
                <h:panelGrid id="grid" columns="3" cellpadding="5">
                    <p:outputLabel for="@next" value="Username:"/>
                    <p:inputText value="#{userBean.username}" label="Username"/>
                    <p:message for="@previous"/>

                    <p:outputLabel for="@next" value="Password:"/>
                    <p:password value="#{userBean.password}" label="Password"/>
                    <p:message for="@previous"/>
                </h:panelGrid>

                <p:commandButton value="Registration" action="#{userBean.registration}" update="@form"/>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
